body{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.heading{
    height: 10rem;
    width: 70%;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.zeroto9 p{
      color: white;
      font-size: 2rem;
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.heading2 input{
    background-color: white;
    border: 2px solid aquamarine;
    height: 1.7rem;
    width: 13rem;
}
#start{
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: white;
    border: 2px solid white;
    border-radius: 20px;
    height: 30px;
    width: 150px;
    margin-left: 8rem;

}
.counter-box{
    background-color: rgb(75, 72, 72);
    height: 12rem;
    width: 50%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.main{
    height: 5rem;
    width: 5rem;
    background-color: white;
    overflow: hidden;
    position: relative;
    margin-top: 7.5%;

}
#above{
    height: inherit;
    width: inherit;
    background-color: white;
    border: 1px solid black;
    margin-top: 0rem;
    text-align: center;
    font-size: 3rem;
    

}
#below{
    height: inherit;
    width: inherit;
    background-color: white;
    border: 1px solid black;
    position: absolute;
    top:32px;
    text-align: center;
    font-size: 3rem;
    
}
.animate{
    transition: all 0.5s;
    transform: translateY(-80px);
}